<div layout="column" class="main-div">


	<mat-card [ngClass]="(isHandset$ | async) ? 'dashboard-card-handset' : 'dashboard-card'">

		<mat-card-content>
			<mat-card-title>
				Vs. Nardole
			</mat-card-title>
			<mat-card-subtitle>
				<i>3 days left</i>
			</mat-card-subtitle>

		</mat-card-content>
		<mat-card>
			//Chess board goes here
		</mat-card>
		<div [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
			<button mat-raised-button color="accent" [ngClass]="(isHandset$ | async) ? '' : 'full-width' ">
				Submit Move
			</button>

		</div>
		<div [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
			<button mat-raised-button color="primary" [ngClass]="(isHandset$ | async) ? '' : 'full-width' ">
				Reset Board
			</button>
		</div>
	</mat-card>
	<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
		<mat-expansion-panel-header>
			<mat-panel-title>
				More options
			</mat-panel-title>
			<!-- <mat-panel-description> -->
			<!--	Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
			<!-- </mat-panel-description> -->
		</mat-expansion-panel-header>
		<div [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
			<p>
			<button mat-raised-button color="accent" >
				Offer Draw
			</button>
			</p>
			<p>
			<button mat-raised-button color="warn" >
				Resign
			</button>
			</p>
		</div>

	</mat-expansion-panel>
</div>

