<div layout="column" class="main-div">


	<mat-card [ngClass]="(isHandset$ | async) ? 'dashboard-card-handset' : 'dashboard-card'">

		<mat-card-content>
			<mat-card-title>
				Habits Tracker
			</mat-card-title>
			<mat-card-subtitle>
				Number of habits you are tracking :  {{ this.allHabits.length }}
			</mat-card-subtitle>

		</mat-card-content>

		<mat-nav-list>
			<mat-list-item *ngFor="let habit of this.allHabits; index as i" (click)="habitStrength(habit.id)">
				<div mat-line>
					{{ habit.name }}
				</div>

				<p mat-line>
				<i>{{ habit.question }}</i>
				</p>

			</mat-list-item>
			<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
		</mat-nav-list>
	</mat-card>
	<div [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
		<button mat-raised-button color="accent" [ngClass]="(isHandset$ | async) ? '' : 'full-width' " routerLink="/addHabit">
			Add a new habit
		</button>
	</div>
</div>

