<div layout="column" class="main-div">
	<mat-card class="register-card">
		<mat-card-content>
			<mat-card-title>
				Register
			</mat-card-title>


			<form (ngSubmit)="register" #registerForm="ngForm">
				<p class="full-width">

				<mat-form-field class="full-width" >

					<mat-label>Username</mat-label>

					<input matInput type="text" placeholder="Username" id="uname" name="uname" [formControl]="unameFormControl" ngModel>

					<mat-error *ngIf="unameFormControl.hasError('required')">
						Username is <strong>required</strong>
					</mat-error>

				</mat-form-field>

				<mat-form-field class="full-width">

					<mat-label>Email</mat-label>

					<!-- <input matInput placeholder="Email" [formControl]="emailFormControl" id="email" name="email" ngModel> -->
					<input matInput placeholder="Email" [formControl]="emailFormControl" id="email" name="email" ngModel>

					<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
						Please enter a valid email address
					</mat-error>

					<mat-error *ngIf="emailFormControl.hasError('required')">
						Email is <strong>required</strong>
					</mat-error>

				</mat-form-field>
				<p class="full-width">
				<mat-form-field class="full-width">
					<mat-label>Password</mat-label>
					<input matInput type="password" placeholder="Password" name="password" id="password" [formControl]="passwordFormControl" ngModel>
				</mat-form-field>
				</p>
				<p>
				<a routerLink="/login">Sign in instead</a>
				</p>
			</form>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="register()" type="submit" color="primary">Sign up</button>
		</mat-card-actions>
	</mat-card>
</div>
